extends layout
block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let entertainmentid = toShow._id
    - let entertainmentmovies = toShow.Movies
    - let entertainmentBudget = toShow.Budget
    - let emtertainmentGenre = toShow.Genre
    - let actionid = "/resource/entertainment/" + entertainmentid

    script.
      let actionid = "#{actionid}"

    div
      div.row
        div(class='entertainmentAttr mr-3') Entertainment ID is:
        div #{entertainmentid}
      div.row
        div(class='entertainmentAttr mr-3') Movies:
        div #{entertainmentmovies}
      div.row
        div(class='entertainmentAttr mr-3') Budget:
        div #{entertainmentBudget}
      div.row
        div(class='entertainmentAttr mr-3') Genre:
        div #{emtertainmentGenre}
      
      button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

    script.
      function cancel() {
        // Go back to the home page for the entertainment collection
        window.location.href='/entertainment'
      }

    script.
      function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
          method: 'DELETE' 
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeeded")
          window.location.href='/entertainment'
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error )
        });
      }
