extends layout
block content
  h1= title
  - let entertainmentid = toShow._id
  - let entertainmentmovies = toShow.Movies
  - let entertainmentBudget = toShow.Budget
  - let emtertainmentGenre = toShow.Genre

  div
    div.row
      div(class='entertainmentAttr mr-3', style='font-weight: bold; color: #FF5733;') Entertainment ID is:
      div(style='margin-left: 10px; color: #336699;') #{entertainmentid}
    div.row
      div(class='entertainmentAttr mr-3', style='font-weight: bold; color: #FF5733;') Movie is:
      div(style='margin-left: 10px; color: #336699;') #{entertainmentmovies}
    div.row
      div(class='entertainmentAttr mr-3', style='font-weight: bold; color: #FF5733;') Budget is:
      div(style='margin-left: 10px; color: #336699;') #{entertainmentBudget}
    div.row
      div(class='entertainmentAttr mr-3', style='font-weight: bold; color: #FF5733;') Genre is:
      div(style='margin-left: 10px; color: #336699;') #{emtertainmentGenre}