extends layout

block content
  h1= title
  - let items = results
    
    .container-fluid
      .row
        each entertain, index in items
             .col-sm-2(onclick=`buy(${index})`)
              p Movies: #{entertain.Movies}
              p Genre: #{entertain.Genre}
              p Budget: #{entertain.Budget}

  script.
    function buy(index) {
      alert('You purchased item ' + (index+1));
    }